{% extends "layout/layout.html" %}

{% block breadcrumb %}
<li>
    <a href="/list">配置列表</a>
    <span class="divider"><i class="icon-angle-right arrow-icon"></i></span>
</li>
<li class="active">{% if key %}编辑{% else %}添加{% endif %}</li>
{% endblock %}

{% block page_content %}

<div class="page-header position-relative" >
    <h1>
        <small>
            <i class="icon-double-angle-right"></i>
            {% if key %}编辑{% else %}添加{% endif %}
        </small>
    </h1>
</div><!--/.page-header-->


<div class="row-fluid">
<div class="span12">
    <!--PAGE CONTENT BEGINS-->

    <form action="/edit" method="POST" class="form-horizontal" enctype="multipart/form-data" id="editform" />
    <div class="control-group">
        <label class="control-label" for="key">Key</label>
        <div class="controls">
            <span class="span12">
                <input type="text" name="key" value="{{ value.K }}" {% if value.K %} readonly{% endif %} />
            </span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Value</label>
        <div class="controls">
            <div class="row-fluid">
                <textarea name="content">{{ value.String() }}</textarea>
            </div>
        </div>
    </div>

    <div class="space-4"></div>

    <div class="form-actions">
        <button class="btn btn-info" type="submit">
            <i class="icon-ok bigger-110"></i>
            提交
        </button>

    </div>
    </form>

    <div class="hr"></div>




    <!--PAGE CONTENT ENDS-->
</div><!--/.span-->
</div><!--/.row-fluid-->

{% endblock %}


