{% extends "layout/layout.html" %}

{% block breadcrumb %}
<li class="active">首页</li>
{% endblock %}

{% block page_content %}

<div class="page-header position-relative" >
    <h1>
        <small>
            <i class="icon-double-angle-right"></i>
            概况
        </small>
    </h1>
</div><!--/.page-header-->


<div class="row-fluid">
<div class="span12">
    <!--PAGE CONTENT BEGINS-->

hello {{ xxxx }}

    fdsafa


    <!--PAGE CONTENT ENDS-->
</div><!--/.span-->
</div><!--/.row-fluid-->

{% endblock %}


