{% extends "layout/layout.html" %}

{% block breadcrumb %}
<li class="active">配置列表</li>
{% endblock %}

{% block page_content %}

<div class="page-header position-relative" >
    <h1>
        <small>
            <i class="icon-double-angle-right"></i>
             配置列表
        </small>
    </h1>
</div><!--/.page-header-->


<div class="row-fluid">
<div class="span12">
    <!--PAGE CONTENT BEGINS-->

    <div class="row-fluid">
        <div class="span12">
            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th width="20%">Key</th>
                    <th width="50%">Value</th>
                    <th>更新时间</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>

                {% for v in vals %}
                <tr>
                    <td>
                        <a href="/edit/{{ v.K }}">{{ v.K }}</a>
                    </td>
                    <td>{{ v.String|cut:"100" }}</td>
                    <td>{{ v.Metadata.updated_at }}</td>
                    <td>{{ v.Metadata.created_at }}</td>
                    <td>
                        <div class="hidden-phone visible-desktop btn-group">
                            <button class="btn btn-mini btn-info" data-rel="tooltip" title="修改">
                                <a href="/edit/{{ v.K }}"><i class="icon-edit white bigger-120"></i></a>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

            <div class="hr hr-18 dotted hr-double"></div>
        </div>
    </div>


    <!--PAGE CONTENT ENDS-->
</div><!--/.span-->
</div><!--/.row-fluid-->

{% endblock %}


